body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    align-items: center;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 0px;
}

.options {
    width: 100%;
    display: grid;
    grid: auto / 25% 50% 25%;
    justify-content: center;
    align-items: center;
}

.like, .dislike {
    width: 100%;
    height: 100%;
}

.like > button, .dislike > button {
    cursor: pointer;
    font-size: 20px;
    height: 80%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    font-weight: bold;
}

img {
    aspect-ratio: 2/3;
    width: 45%;
    align-self: center;
    justify-self: center;
    border-radius: 15px;
    outline: 1px solid black;
}