* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    --nav_font_size: 20px;
    --profile_font_size: 30px;
    --primary-color: rgb(17, 108, 255);
    --primary-hover-color: rgb(55, 132, 255);
    --dark-bg-color: rgb(40, 43, 47);
    --dark-font-color: rgb(226, 226, 226);
    --danger-color: rgb(228, 43, 43);
    --alt-color: rgb(137, 137, 137);
}

body {
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

.dark {
    background: var(--dark-bg-color);
    color: var(--dark-font-color);
}

.primary {
    color: var(--primary-color);
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: var(--dark-font-color);
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    padding: 16px;
    position: fixed;
    z-index: 2;
    left: 50%;
    bottom: 30px;
}

.toast-show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.toast-success {
    background-color: rgb(13, 146, 13);
}

.toast-error {
    background-color: rgb(204, 20, 20);
}

nav {
    width: 100vw;
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
}

nav>p {
    font-weight: bold;
    padding-left: 20px;
    font-size: var(--nav_font_size);
    color: var(--primary-color);
}

nav>a {
    font-weight: bold;
    padding-left: 20px;
    font-size: var(--nav_font_size);
    color: var(--primary-color);
    text-decoration: none;
}

nav>ul {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    list-style-type: none;
}