* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    --nav_font_size: 20px;
    --primary-color: rgb(17, 108, 255);
    --primary-hover-color: rgb(55, 132, 255);
    --dark-bg-color: rgb(40, 43, 47);
    --dark-font-color: rgb(226, 226, 226);
    --danger-color: rgb(228, 43, 43);
    --alt-color: rgb(137, 137, 137);
}

body {
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

.dark {
    background: var(--dark-bg-color);
    color: var(--dark-font-color);
}

.primary {
    color: var(--primary-color);
}

