.choose-profile-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.603);
    z-index: 3;
    position: fixed;
}

.choose-profile-popup {
    align-self: center;
    width: 80vw;
    height: 80vh;
    padding: 20px;
    background-color: var(--dark-bg-color);
    border-radius: 25px;
}

#add-profile-button {
    margin-top: 20px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    background-color: var(--dark-bg-color);
    border-radius: 50%;
    border: 1px solid var(--dark-font-color);
    font-size: var(--profile_font_size);
    cursor: pointer;
}

#add-profile-button>img {
    aspect-ratio: 1/1;
    width: 70%;
}

.choose-profile-popup-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#choose-profile-close,
#add-profile-close {
    background-color: var(--dark-bg-color);
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

#choose-profile-close>img,
#add-profile-close>img {
    aspect-ratio: 1/1;
    width: 90%;
}

.profiles {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}

.profile {
    width: 100%;
    font-size: var(--profile_font_size);
    padding: 10px 0;
    cursor: pointer;
    display: flex;
}

.profile:hover {
    background-color: var(--alt-color);
    transition: background-color 1s;
}

.add-profile-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.603);
    z-index: 4;
    position: fixed;
}

.add-profile-popup {
    align-self: center;
    width: 40vw;
    height: 80vh;
    padding: 20px;
    background-color: var(--dark-bg-color);
    border-radius: 25px;
}

.add-options {
    text-align: center;
    font-size: var(--profile_font_size);
    height: 100%;
    display: grid;
    align-items: center;
    grid: 45% 1px 45% / 100%;
}

.create-new-profile,
.upload-profile {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload-profile input {
    font-size: var(--nav_font_size);
    cursor: pointer;
}

.create-new-profile:hover {
    background-color: var(--alt-color);
    transition: background-color 1s;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.pfp>img {
    aspect-ratio: 1/1;
    width: 100%;
}