.panel {
    width: 80vw;
    min-height: auto;
    padding: 50px;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 25px;
    box-shadow: 0 0 10px var(--dark-font-color);
    display: grid;
    grid: auto / 100%;
    row-gap: 20px;
}

.panel h1 {
    text-align: center;
}

.panel h2 {
    text-align: center;
}

.input-field {
    width: 25%;
    justify-self: center;
    background-color: var(--dark-bg-color);
    border: 1px solid var(--dark-font-color);
    color: var(--dark-font-color);
    padding: 5px;
    border-radius: 5px;
    height: 35px;
    text-align: center;
    font-size: var(--nav_font_size);
    margin-bottom: 20px;
}

.panel-button-group {
    display: grid;
    grid: 100% / 50% 50%;
    column-gap: 20px;
    align-items: center;
}

.panel-button-link {
    min-width: 20%;
    justify-self: center;
}

.panel-button {
    min-width: 20%;
    justify-self: center;
    border-radius: 5px;
    border: none;
    padding: 10px 18px;
    color: var(--dark-font-color);
    cursor: pointer;
    font-weight: bold;
}

.cancel-btn {
    background: var(--danger-color);
}

.back-btn {
    background: var(--alt-color);
}

.submit-btn {
    background: var(--primary-color);
}

.submit-btn:hover {
    background: var(--primary-hover-color);
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(6, calc(10vw - 20px));
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.card {
    border-radius: 8px;
    outline: 1px solid var(--dark-font-color);
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 10px var(--dark-font-color);
}

.card img {
    aspect-ratio: 2 / 3;
    width: 100%;
    background: #222;
}

.card p {
    padding: 5px;
    opacity: 100%;
    background-color: var(--dark-bg-color);
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-not-selected {
    opacity: 50%;
}

.card-selected {
    box-shadow: 0 0 10px var(--dark-font-color);
}

.name-and-color {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.color-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

#color {
    width: 50px;
    height: 50px;
}

.pfp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    margin-right: 20px;
}

.pfp>img {
    aspect-ratio: 1/1;
    width: 100%;
}

.cold-start-like {
    color: var(--like-color);
}

.cold-start-dislike {
    color: var(--dislike-color);
}