.nav-option {
    color: var(--dark-font-color);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.nav-option:hover {
    text-decoration: underline;
}

.landing {
    display: grid;
    grid: 100% / 40% 60%;
    margin-top: 5vw;
}

.landing h1 {
    align-self: center;
    margin-left: 5%;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
    transform: skew(-20deg);
    box-shadow: 5px 5px 20px black;
}

.carousel-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 43, 47, 0.266);
    z-index: 1;
}

.carousel-item img {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.carousel-group {
    display: flex;
    animation: slide-carousel 50s linear infinite;
}

.carousel-item {
    flex-shrink: 0;
    width: 100%;
}

@keyframes slide-carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-600%);
        /* Adjust based on duplicated content */
    }
}