nav {
    width: 100vw;
    justify-content: space-between;
    display: flex;
}

nav > p {
    font-weight: bold;
    padding-left: 20px;
    font-size: var(--nav_font_size);
}

nav > ul {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    list-style-type: none;
}