.dropdown-options {
    position: absolute;
    width: 130px;
    background-color: var(--alt-color);
    display: flex;
    flex-direction: column;
    right: 0;
}

.nav-pfp {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.nav-pfp>img {
    aspect-ratio: 1/1;
    width: 100%;
}

.options-container {
    position: relative;
}

.option {
    cursor: pointer;
    padding: 5px;
}

.option:hover {
    color: var(--dark-bg-color);
    background-color: var(--dark-font-color);
}

.movie-preview {
    width: 75vw;
    margin-left: 12.5vw;
    display: grid;
    grid: 80% 20% / 30% 60%;
    column-gap: 20px;

}

#movie-poster {
    grid-row: 1 / span 2;
    aspect-ratio: 2 / 3;
    width: 100%;
    border-radius: 15px;
}

.preview-button-container {
    grid-column: 2 / span 1;
    border-top: 1px solid var(--dark-font-color);
    padding-top: 20px;
}

.watch-movie-button {
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: var(--nav_font_size);
    color: var(--dark-font-color);
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}