.video-container {
    width: 100vw;
    padding: 20px 0;
    background-color: black;
}

#video {
    width: 60vw;
    margin-left: 20vw;
    box-shadow: 0 0 50px var(--primary-color);
}

.rounded-corner {
    border-radius: 25px;
}