.dropdown-options {
    position: absolute;
    width: 130px;
    background-color: var(--alt-color);
    display: flex;
    flex-direction: column;
    right: 0;
}

.nav-pfp {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.nav-pfp>img {
    aspect-ratio: 1/1;
    width: 100%;
}

.options-container {
    position: relative;
}

.option {
    cursor: pointer;
    padding: 5px;
}

.option:hover {
    color: var(--dark-bg-color);
    background-color: var(--dark-font-color);
}

.video-container {
    width: 100vw;
    padding: 20px 0;
    background-color: black;
    overflow: hidden;
}

#video {
    width: 50vw;
    margin-left: 25vw;
    box-shadow: 0 0 50px var(--primary-color);
}

.rounded-corner {
    border-radius: 25px;
}

.watch-options {
    display: grid;
    width: 60vw;
    margin-left: 20vw;
}

.movie-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.watch-button-group {
    justify-self: end;
    display: flex;
}

.watch-button {
    padding: 5px 20px;
    cursor: pointer;
    border: 1px solid var(--dark-font-color);
}

.watch-like {
    border-radius: 15px 0 0 15px;
    background-color: var(--like-color);
    color: var(--dark-font-color);
}

.watch-dislike {
    border-radius: 0 15px 15px 0;
    background-color: var(--dislike-color);
    color: var(--dark-font-color);
}

.recommendations {
    width: 80vw;
    margin-left: 10vw;
    ;
}

.recommended-movies {
    margin: 20px 0;
    display: grid;
    grid: auto / repeat(10, calc(8vw - 20px));
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.movie {
    outline: 1px solid var(--dark-font-color);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.movie>img {
    aspect-ratio: 2 / 3;
    opacity: 50%;
    width: 100%;
}

.movie:hover img {
    opacity: 100%;
}

.movie-title {
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.watch-recommend-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watch-recommend-header>p {
    font-size: var(--nav_font_size);
    cursor: pointer;
}

.watch-recommend-header>p:hover {
    text-decoration: underline;
}