{% extends "base.html" %}
{% block title %}Start{% endblock %}
{% block links %}
    <link rel="stylesheet" href="../static/css/cold_start.css">
{% endblock %}
{% block content %}
    <div class="panel">
        <label for="name"><h1>What Is Your Name?</h1></label>
        <input id="name" type="text" class="input-field">
        <div class="panel-button-group">
            <button onclick="window.location.href='/'" class="panel-button cancel-btn">Cancel</button>
            <button class="panel-button submit-btn">Next &#8594;</button>
        </div>
    </div>
    <div class="hidden panel">
        <div>
            <h1>Tell Us Your Movie Preferences</h1>
            <p>Help us understand your taste! Select the movies you like:</p>
        </div>
        <div class="movies-grid like"></div>
        <div class="panel-button-group">
            <button type="button" class="panel-button back-btn">&#8592; Back</button>
            <button class="panel-button submit-btn">Next &#8594;</button>
        </div>
    </div>
    <div class="hidden panel">
        <div>
            <h1>Tell Us Your Movie Preferences</h1>
            <p>Help us understand your taste! Select the movies you dislike:</p>
        </div>
        <div class="movies-grid dislike"></div>
        <div class="panel-button-group">
            <button type="button" class="panel-button back-btn">&#8592; Back</button>
            <button id="create-profile" class="panel-button submit-btn">Create Profile</button>
        </div>
    </div>
    <div id="toast" class="toast"></div>
{% endblock %}
{% block scripts %}
    <script type="module" src="../static/js/cold_start.js"></script>
{% endblock %}