{% extends "base.html" %}
{% block title %}Start{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cold_start.css') }}">
{% endblock %}
{% block content %}
    <div class="panel">
        <label for="name"><h1>Please Enter a Username, and Profile Colour: </h1></label>
        <div class="name-and-color">
            <input id="name" type="text" class="input-field" placeholder="Username" autocomplete="off">
            <div class="color-section">
                <div id="pfp" class="pfp"><img src="../static/images/svg/profile.svg" alt="profile"></div>
                <input id="color" type="color">
            </div>
        </div>
        <div class="panel-button-group">
            <button onclick="window.location.href='/'" class="panel-button cancel-btn">Cancel</button>
            <button class="panel-button submit-btn">Next &#8594;</button>
        </div>
    </div>
    <div class="hidden panel">
        <div>
            <h1>Tell Us Your Movie Preferences</h1>
            <h2>Select the movies you like <span class=" cold-start-like fa-solid fa-thumbs-up"></span></h2>
        </div>
        <div class="movies-grid like"></div>
        <div class="panel-button-group">
            <button type="button" class="panel-button back-btn">&#8592; Back</button>
            <button class="panel-button submit-btn">Next &#8594;</button>
        </div>
    </div>
    <div class="hidden panel">
        <div>
            <h1>Tell Us Your Movie Preferences</h1>
            <h2>Select the movies you dislike <span class="cold-start-dislike fa-solid fa-thumbs-down"></span></h2>
        </div>
        <div class="movies-grid dislike"></div>
        <div class="panel-button-group">
            <button type="button" class="panel-button back-btn">&#8592; Back</button>
            <button id="create-profile" class="panel-button submit-btn">Create Profile</button>
        </div>
    </div>
    <div id="toast" class="toast"></div>
{% endblock %}
{% block scripts %}
    <script type="module" src = "{{ url_for('static', filename='js/cold_start.js') }}"></script>
{% endblock %}