{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block links %}
    <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}
{% block content %}
    <nav>
        <p>Product Name Here</p>
        <ul>
            <li><a href="start">Get Started</a></li>
            <li><a href="choose_account">Choose Account</a></li>
            <li><a href= "load_store_delete">Manage Local Storage</a></li>
        </ul>
        
    </nav>
    <div class="landing"></div>
{% endblock %}