{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/choose_profile.css') }}">
{% endblock %}
{% block content %}
    <nav>
        <a href="/"><p>Product Name Here</p></a>
        <ul>
            <li><a class="nav-option" href="start">Get Started</a></li>
            <li id="choose-profile-link" class="nav-option">Choose Profile</li>
            <li><a class="nav-option" href="video">Watch Video</a></li>
        </ul>
        
    </nav>
    <div id="add-profile-container" class="add-profile-container hidden">
        <div class="add-profile-popup">
            <div class="choose-profile-popup-header">
                <h1>Add Profile</h1>
                <button id="add-profile-close">
                    <img src="../static/images/svg/cross.svg" alt="close">
                </button>
            </div>
            <hr>
            <div class="add-options">
                <div id="create-new-profile" class="create-new-profile">
                    Create New Profile
                </div>
                <hr>
                <div class="upload-profile">
                    Upload Profile
                </div>
            </div>
        </div>
    </div>
    <div id="choose-profile-container" class="choose-profile-container hidden">
        <div class="choose-profile-popup">
            <div class="choose-profile-popup-header">
                <h1>Choose Profile</h1>
                <button id="choose-profile-close">
                    <img src="../static/images/svg/cross.svg" alt="close">
                </button>
            </div>
            <hr>
            <div id="profiles" class="profiles">
                <button id="add-profile-button">
                    <img src="../static/images/svg/plus.svg" alt="add">
                </button>
            </div>
        </div>
    </div>
    <div class="landing">
        <h1>
            Access Your Favourite Movies <br><span class="primary">With Piece Of Mind</span>
        </h1>
        <div class="carousel-container">
            <div class="carousel-group">
                <div class="carousel-item">
                    <img src="../static/images/landscape/thegodfather.jpg" alt="" class="">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/landscape/12angrymen.avif" alt="" class="">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/landscape/schindlerslist.jpg" alt="" class="">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/landscape/shawshankredemption.avif" alt="" class="">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/landscape/thedarkknight.jpg" alt="" class="">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/landscape/thegodfatherpart2.jpg" alt="" class="">
                </div>
                <!-- Duplicated slides for seamless loop -->
                <div class="carousel-item">
                    <img src="../static/images/landscape/thegodfather.jpg" alt="" class="">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/landscape/12angrymen.avif" alt="" class="">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/landscape/schindlerslist.jpg" alt="" class="">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/landscape/shawshankredemption.avif" alt="" class="">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/landscape/thedarkknight.jpg" alt="" class="">
                </div>
                <div class="carousel-item">
                    <img src="../static/images/landscape/thegodfatherpart2.jpg" alt="" class="">
                </div>
            </div>
        </div>
    </div>
    <div id="toast" class="toast"></div>
{% endblock %}
{% block scripts %}
    <script type="module" src = "{{ url_for('static', filename='js/choose_profile.js') }}"></script>
    <script type="module" src = "{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}