{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}
{% block content %}
    <nav>
        <a href="/"><p>Product Name Here</p></a>
    </nav>
    <div id="confirmation-modal" class="hidden confirmation-modal">
        <div class="modal">
            <h1>Are you Sure you Want to Delete This Profile?</h1>
            <div class="modal-button-group">
                <button id="cancel-delete-button">Cancel</button>
                <button id="confirm-delete-button">Confirm</button>
            </div>
        </div>
    </div>
    <div class="settings-content">
        <div class="profile-edit-section">
            <div id="pfp" class="pfp">
                <img src="{{ url_for('static', filename='images/svg/profile.svg') }}" alt="profile">
            </div>
            <div class="fields">
                <input id="username" type="text" autocomplete="off" placeholder="Username">
                <input id="profile-color" type="color">
            </div>
            <div class="settings-button-group">
                <button id="cancel-change-button"><h1>Cancel</h1></button>
                <button id="save-change-button"><h1><span class="fa-solid fa-floppy-disk"></span> Save</h1></button>
            </div>
        </div>
        <div class="options-content">
            <div class="settings-tabs">
                <button class="settings-option-button selected" id="watch-history-button"><h1>Watch History</h1></button>
                <button class="settings-option-button" id="statistics-button"><h1>Statistics</h1></button>
                <button class="settings-option-button" id="model-button"><h1>Model</h1></button>
            </div>
            <div id="watch-history-content" class="watch-history-content">
                <div id="history" class="history"></div>
            </div>
            <div id="statistics-content" class="statistics-content hidden">
                <div id="stats" class="stats">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div id="model-content" class="model-content hidden">
                <img id="model" class="model"></img>
            </div>
        </div>
        <div class="settings-button-group">
            <button id="download-data-button"><h1><span class="fa-solid fa-download"></span> Download Data</h1></button>
            <button id="delete-profile-button"><h1><span class="fa-solid fa-trash-can"></span> Delete Profile</h1></button>
        </div>
    </div>
    <div id="toast" class="toast"></div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>
    <script type="module" src = "{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
