{% extends "base.html" %}
{% block title %}Video{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/watch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/choose_profile.css') }}">
{% endblock %}
{% block content %}
    <nav>
        <a href="/"><p>Product Name Here</p></a>
        <div class="options-container">
            <div id="pfp" class="nav-pfp">
                <img src="{{ url_for('static', filename='images/svg/profile.svg') }}" alt="profile">
            </div>
            <div id="dropdown-options" class="dropdown-options hidden">
                <span id="settings" class="option">Settings</span>
                <span id= "switch-profiles" class="option">Switch Profiles</span>
            </div>
        </div>
    </nav>
    <div id="add-profile-container" class="add-profile-container hidden">
        <div class="add-profile-popup">
            <div class="choose-profile-popup-header">
                <h1>Add Profile</h1>
                <button id="add-profile-close">
                    <img src="{{ url_for('static', filename='images/svg/cross.svg') }}" alt="close">
                </button>
            </div>
            <hr>
            <div class="add-options">
                <div id="create-new-profile" class="create-new-profile">
                    Create New Profile
                </div>
                <hr>
                <div class="upload-profile">
                    <label for="upload_profile">Upload Profile</label>
                    <div>
                        <input id="upload_profile" type="file" accept=".json">
                        <input id="submit_upload" type="submit" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="choose-profile-container" class="choose-profile-container hidden">
        <div class="choose-profile-popup">
            <div class="choose-profile-popup-header">
                <h1>Choose Profile</h1>
                <button id="choose-profile-close">
                    <img src="{{ url_for('static', filename='images/svg/cross.svg') }}" alt="close">
                </button>
            </div>
            <hr>
            <div id="profiles" class="profiles">
                <button id="add-profile-button">
                    <img src="{{ url_for('static', filename='images/svg/plus.svg') }}" alt="add">
                </button>
            </div>
        </div>
    </div>
    <div class="video-container">
        <video id="video" class="rounded-corner" controls autoplay></video>
    </div>
    <div class="watch-options">
        <h1 id="movie-title"></h1>
        <div class="watch-button-group">
            <button id="watch-button-like" class="watch-button watch-like"><h1><span id="watch-like-icon-select" class="hidden fa-solid fa-thumbs-up"></span><span id="watch-like-icon-deselect" class="fa-regular fa-thumbs-up"></span></h1></button>
            <button id="watch-button-dislike" class="watch-button watch-dislike"><h1><span id="watch-dislike-icon-select" class="hidden fa-solid fa-thumbs-down"></span><span id="watch-dislike-icon-deselect" class="fa-regular fa-thumbs-down"></span></h1></button>
        </div>
    </div>
    <div class="recommendations">
            <div class="watch-recommend-header">
                <h1>Recommended Movies for You</h1>
                <p id="see_more_link">See More</p>
            </div>
            <hr>
            <div id="recommended-movies" class="recommended-movies">
            </div>
        </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script type = "module" src = "{{ url_for('static', filename='js/choose_profile.js') }}"></script>
    <script type="module" src = "{{ url_for('static', filename='js/watch.js') }}"></script>
{% endblock %}